/* untuk header */
.main-nav {
    background-color: #D62828;
}
.main-nav .navbar-nav a.nav-link {
    color: #fff;
    font-weight: 600;
}
.main-nav .navbar-nav .nav-link.active,.main-nav
.navbar-nav .nav-link:hover {
    color: #FFC300;
}
/* jumbotron */
.main-merah {
    background-color: #D62828;
    color: #fff;
}
/* diakui */
#main-sudah img {
    max-height: 100px;
    max-width: 150px;
}
#main-sudah a {
    display: inline-block;
    word-spacing: 22px;
    margin-right: 10px;
    margin-bottom: 20px;
}
h2.main-judul::after {
    margin: auto;
    margin-top: 20px;
    display: block;
    border-bottom:10px solid#FFC300 ;
    width: 100px;
    border-radius: 25px;
    content: "";

}
.navbar.scrolled {
    background-color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0px-10px 30px #666;
}
.navbar.scrolled a.nav-link{
    color: #D62828;
}
.navbar img.main-logo {
    max-width: 120px;
}
.main-unes {
    background-color: burlywood;
}
.main-atas-judul {
    color: #D62828;
    font-size: 22px;
    font-weight: 600;
}
.main-footer-menu h4 {
color: #fff;
}
.main-footer-menu a {
    color: #fff ;
    text-decoration: none;
}
.main-footer-menu li {
    color: #fff;
}
.main-footer-menu a:hover {
    color:#FFC300 ;
}
.main-nav h1 {
    color: #fff;
}
.main-sejarah {
    background-color: #666;
}
.accordion {
    width: 100%;
    padding: 0 5px;
    border: 2px solid #D62828;
    background: #D62828;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.accordion .icon {
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background: no-repeat 8px 7px #FFC300;
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
}
.accordion h5 {
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #FFC300;
}
.active .icon {
    background: #D62828 no-repeat 8px -25px;
}
.panel {
    padding: 0 15px;
    border-left: 1px solid #FFC300;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .5s ease-in;
}
.container-fluid {
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}